.botonnuevo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
}
.botonnuevo>img{
    width: 40px;
}
.addnewmovie{
    background: rgb(58,58,58);
    width:400px;
    height:280px;
    border-radius: 20px;
    margin-top:50px;
    margin-left: 500px;
    display: none;
}
input[type="text"]:focus{
    outline: none;
    color: white;
}
::placeholder{
    color:white;
    font-weight: lighter;
}
.title{
    display: flex;
    justify-content: center;
}
.title>h2{
    margin-top: 10px;
    color: white;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.ratingfield{
    border-radius: 5px 0px 0px 5px;
    background: gray;
    height: 24px;
    width:80px;
    padding: 5px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.inputrating{
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    
}
.inputrating>input{
    height:24px;
    width:200px;
    padding-left: 5px;
    background:rgb(58,58,58);
    border: 1px solid gray;
    border-radius: 0px 5px 5px 0px;
}
.ratingfield>h4{
    color: white; 
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.namefield{
    border-radius: 5px 0px 0px 5px;
    background: gray;
    height: 24px;
    width:80px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inputname{
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    
}
.inputname>input{
    height:24px;
    width:200px;
    padding-left: 5px;
    background:rgb(58,58,58);
    border: 1px solid gray;
    border-radius: 0px 5px 5px 0px;
}
.namefield>h4{
    color: white; 
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.imagefield{
    border-radius: 5px 0px 0px 5px;
    background: gray;
    height: 24px;
    width:80px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inputimage{
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    
}
.inputimage>input{
    height:24px;
    width:200px;
    padding-left: 5px;
    background:rgb(58,58,58);
    border: 1px solid gray;
    border-radius: 0px 5px 5px 0px;
}
.imagefield>h4{
    color: white; 
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap:20px;
}
.botones>button{
    width: 80px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background: gray;
    color: white;
}
#movies-list-movie-container{
    height: 150px;
    width: 150px;
    background: rgb(58,58,58);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#movies-list-movie-container>button{
    background: rgb(58,58,58);
    color: white;
    border:none
}
#movies-list-movie-container>button:hover{
    cursor: pointer;
}